<div class="small-hero" style="background-image: url('assets/images/contact.jpg');">
  <div class="container custom-container main-content">
    <h1>Contáctenos</h1>
  </div>
</div>

<div class="contactenos">
  <div class="contact-inner">

    <div class="desc-section">
      <h2>Hola!</h2>
      <p>Déjenos su comentario ó consulta y pronto nos estaremos comunicando con usted.</p>
      <p class="small-desc">Gracias por visitarnos!</p>
    </div>

    <div class="form-section">
      <form action="form/contacto.php" method="post">
        <h2 class="title">CONTÁCTENOS</h2>

        <ul class="social-media">
          <li><a href="#" target="_blank"> <i class="fab fa-facebook-square"></i> </a></li>
          <li><a href="#" target="_blank"> <i class="fab fa-twitter-square"></i> </a></li>
          <li><a href="#" target="_blank"> <i class="fab fa-whatsapp-square"></i> </a></li>
        </ul>
      
        <div class="form-group">
          <input id="nombre" type="text" name="nombre" placeholder="Nombre y Apellido" required="" />
        </div>
      
        <div class="form-group">
          <input id="email" type="email" name="email" placeholder="ejemplo@correo.com" required="" />
        </div>
      
        <div class="form-group last-row">
          <input id="telefono" type="text" name="telefono" placeholder="Teléfono" required="" />
        </div>
      
        <div class="form-group mensaje">
          <textarea id="mensaje" name="mensaje" placeholder="Mensaje" required=""></textarea>
        </div>
      
        <button id="submit" type="submit" name="submit" value="Enviar" class="btn bw hvr-sweep-to-right">Enviar</button>
      </form>

      <div class="info-contacto">
        <p class="contact-title">Correos:</p>
        <p class="contact-item">rchavesm@wrmarketing.net</p>
        <p class="contact-item">ventas@wrmarketing.net</p>
        <div class="divider"></div>
        <p class="contact-title">Teléfono:</p>
        <p class="contact-item">(506) 8858-5800</p>
      </div>
    </div>

  </div>
</div>
