<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container custom-container navbar-content">
    
    <a class="navbar-brand" href="#">
      <img src="assets/images/logo-wr-marketing.jpg" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="inicio"> WR Markeing </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="quienes-somos"> Quiénes Somos </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://wrmarketing.net/blog/" target="_blank"> Blog </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="contactenos"> Contáctenos </a>
        </li>
      </ul>

      <div class="my-2 my-lg-0 info-container container-animate-icon">
        <i class="fas fa-info-circle the_icon"></i>
        <span>Información de Contacto</span>
        <span class="animate-icon"></span>

        <div class="info-contacto">
          <p class="contact-title">Correos:</p>
          <p class="contact-item">rchavesm@wrmarketing.net</p>
          <p class="contact-item">ventas@wrmarketing.net</p>
          <div class="divider"></div>
          <p class="contact-title">Teléfono:</p>
          <p class="contact-item">(506) 8858-5800</p>
          <div class="divider"></div>
          <p class="contact-title">Skype:</p>
          <p class="contact-item">rodolfochavesm</p>
        </div>
      </div>
    </div>
  </div>

</nav>