<div class="description-box">
  <div class="container custom-container">
    <div class="desc-box-inner">
      <h2>Nuestra Experiencia</h2>
      <p class="description">Acontinuación encontrará nuestro portafolio de servicios:</p>
    </div>
  </div>
</div>

<div id="accordion" class="service-accordion">
  <h3 class="accordion-title" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne" >ATL<div class="ui-icon"></div></h3>
  <div class="accordion-body collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion" >
    <p>Above The Line”, o conocido en español como “por encima de la línea de promoción”, una frase que hace referencia a las actividades publicitarias y de marketing que no están dirigidas a un público objetivo en particular y tienen un gran alcance.</p>

    <p>En WR Marketing le asesoraremos para ejecutar la mejor estrategia en medios tradicionales o digitales bajo tres pilares fundamentales:</p>

    <p>Mejor alcance<br>
      Mejor conexión con la audiencia<br>
      Y facilidad para el brand building</p>
    <ul>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="ATL">TV</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="ATL">Radio</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="ATL">Medios tradicionales escritos</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="ATL">Diseño de assets de comunicación</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="ATL">Campañas de posicionamiento</a></li>
    </ul>
  </div>

  <h3 class="accordion-title" data-toggle="collapse" data-target="#collapseTwo"
          aria-expanded="false" aria-controls="collapseTwo" >BTL<div class="ui-icon"></div></h3>
  <div class="accordion-body collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion" >
    <p>Se trata de actividades publicitarias que son específicas, directas y memorables, las cuales tienen como destino grupos
    particulares de consumidores y no masas como ocurre en las actividades ATL. En ese sentido, el BTL contempla estrategias
    del marketing directo y aquí las conversiones si se pueden considerar de gran importancia para las marcas o empresas.</p>
    
    <p>WR Marketing sigue siendo innovador dirigiendo esfuerzos en:</p>
    
    <p>Activaciones dentro y fuera del punto de venta<br>
    Detectando el mejor medio para patrocinio<br>
    Product Placement</p>

    <p>Que buscamos?</p>
    
    <p>Que sea extremadamente dirigido<br>
    Buscar un inigualable ROI<br>
    Fácil control<br>
    Desarrollo a la medida</p>
    <ul>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="BTL">Activaciones</a></li>
    </ul>
  </div>

  <h3 class="accordion-title" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
    aria-controls="collapseThree" >Trademarketing<div class="ui-icon"></div>
  </h3>
  <div class="accordion-body collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion"
    >
    <p>Para que sea exitoso, toda acción de Trade Marketing debe ser debidamente conceptualizada, organizada y coordinada entre
    los responsables. Nosotros potenciamos él éxito en el punto de venta con personal altamente calificado en todos los
    niveles de mando.</p>
    
    <p>Buscamos la mejor ingeniería de rutas<br>
    Cobertura<br>
    Efectividad<br>
    Custodia del Shelf Space<br>
    La mejor ejecución de los fundamentales del MKT<br>
    Entre otros</p>
    <ul>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal"
          data-target="#serviceModal" data-type="Trademarketing">Estrategia de Expansión PDV</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal"
          data-target="#serviceModal" data-type="Trademarketing">Estrategias de Winning PDV</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal"
          data-target="#serviceModal" data-type="Trademarketing">Plan de Incentivos y de fidelidad</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal"
          data-target="#serviceModal" data-type="Trademarketing">Custodia de producto icónico</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal"
          data-target="#serviceModal" data-type="Trademarketing">Creación de experiencia de producto A, B y C</a>
      </li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal"
          data-target="#serviceModal" data-type="Trademarketing">Auditoria del PDV</a></li>
    </ul>
  </div>

  <h3 class="accordion-title" data-toggle="collapse" data-target="#collapseFour"
          aria-expanded="false" aria-controls="collapseFour" >POP y Display<div class="ui-icon"></div></h3>
  <div class="accordion-body collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#accordion" >
    <p>El material POP ( Point of Purchase ) es una categoría del Marketing que recurre a la publicidad puesta en los
      puntos de
      venta, busca generar una permanencia de la marca recurriendo a una gran variedad de objetos donde se puede
      imprimir o
      estampar información de la empresa o producto</p>

    <p>Vamos desde la conceptualización, desarrollo, impresión y ejecución en el punto de venta.</p>

    <p>Como expertos en esta materia lograremos:</p>

    <p>Activar recursos gráficos, de publicidad o las exhibiciones utilizadas en el Punto de Venta para la promoción y
      difusión
      de una marca, categoría o producto con herramientas digitales, gráficas y exhibidores.</p>
    <ul>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="POP y Display">Giveaway</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="POP y Display">Promocionales</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="POP y Display">Merchandising</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="POP y Display">Litografía</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="POP y Display">Exhibidores</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="POP y Display">Stands</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="POP y Display">Escenarios</a></li>
    </ul>
  </div>
  <h3 class="accordion-title" data-toggle="collapse" data-target="#collapseFive"
          aria-expanded="false" aria-controls="collapseFive" >Social Media<div class="ui-icon"></div></h3>
  <div class="accordion-body collapse" id="collapseFive" aria-labelledby="headingFive" data-parent="#accordion" >
    <ul>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Social Media">Comunidad Digital</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Social Media">Marketing de Contenidos</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Social Media">Desarrollo Digital</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Social Media">Social Analytics</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Social Media">Monitoreo de Marca</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Social Media">Creación de perfiles sociales</a></li>
    </ul>
  </div>

  <h3 class="accordion-title" data-toggle="collapse" data-target="#collapseSix"
          aria-expanded="false" aria-controls="collapseSix" >MKT Campaign<div class="ui-icon"></div></h3>
  <div class="accordion-body collapse" id="collapseSix" aria-labelledby="headingSix" data-parent="#accordion" >
    <ul>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="MKT Campaign">Campañas Internas</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="MKT Campaign">Comunicación Institucional</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="MKT Campaign">OOH</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="MKT Campaign">Diseño Plan de medios</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="MKT Campaign">Plan de desarrollo de producto</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="MKT Campaign">Estrategia de comunicación</a></li>
    </ul>
  </div>

  <h3 class="accordion-title" data-toggle="collapse" data-target="#collapseSeven"
          aria-expanded="false" aria-controls="collapseSeven" >Retail<div class="ui-icon"></div></h3>
  <div class="accordion-body collapse" id="collapseSeven" aria-labelledby="headingSeven" data-parent="#accordion" >
    <ul>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Retail">Layout</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Retail">Category Management</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Retail">Definición de Mix de Producto</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Retail">Preparación de List Price</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Retail">Shopping de precios</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Retail">Clasificación del PDV</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Retail">Benchmark 360°</a></li>
    </ul>
  </div>

  <h3 class="accordion-title" data-toggle="collapse" data-target="#collapseEight"
          aria-expanded="false" aria-controls="collapseEight" >RRHH Outsorsing<div class="ui-icon"></div></h3>
  <div class="accordion-body collapse" id="collapseEight" aria-labelledby="headingEight" data-parent="#accordion" >
    <ul>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="RRHH Outsorsing">Promotores</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="RRHH Outsorsing">Impulsadores</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="RRHH Outsorsing">Edecanes</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="RRHH Outsorsing">Anfitrionas</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="RRHH Outsorsing">Asesores</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="RRHH Outsorsing">Vendedores</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="RRHH Outsorsing">Assessment</a></li>
    </ul>
  </div>

  <h3 class="accordion-title" data-toggle="collapse" data-target="#collapseNine"
          aria-expanded="false" aria-controls="collapseNine" >Gráfico, Digital & Video<div class="ui-icon"></div></h3>
  <div class="accordion-body collapse" id="collapseNine" aria-labelledby="headingNine" data-parent="#accordion" >
    <ul>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Gráfico, Digital & Video">Diseño Gráfico e Imagen corporativa</a>
      </li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Gráfico, Digital & Video">Producción Audiovisual</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Gráfico, Digital & Video">Producción Web y Almacenamiento</a>
      </li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Gráfico, Digital & Video">Web Marketing</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Gráfico, Digital & Video">Brand Book</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Gráfico, Digital & Video">Packaging</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Gráfico, Digital & Video">Presentaciones Multimedia</a></li>
    </ul>
  </div>

  <h3 class="accordion-title" data-toggle="collapse" data-target="#collapseTen"
          aria-expanded="false" aria-controls="collapseTen" >Business Inteligence<div class="ui-icon"></div></h3>
  <div class="accordion-body collapse" id="collapseTen" aria-labelledby="headingTen" data-parent="#accordion" >
    <ul>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Business Inteligence">Análisis de data OPSI</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Business Inteligence">Análisis de Sell Out</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Business Inteligence">Price Sensitivity</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Business Inteligence">Desempeño de portfolio</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Business Inteligence">Tracking de KPI</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Business Inteligence">Diseño de Dashboard</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="Business Inteligence">Diseño de KPI</a></li>
    </ul>
  </div>
</div>

<!-- The Modal -->
<div id="serviceModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <!-- Modal content -->
  <div class="modal-content modal-dialog" role="document">
    <div class="modal-extra">
      <span class="close" data-dismiss="modal">&times;</span>
      <div class="image-container">
        <!--Modal Photo-->
        <div id="modalPhoto" class="modal-photo" [ngStyle]="{'background-image': 'url(' + modalPhoto + ')'}"></div>
      </div>
    </div>
    <div class="modal-body">
      <!--Modal Type-->
      <h4 class="type" id="modalTypeText">{{modalType}}</h4>
      <!--Modal Name-->
      <h2 id="modalName" class="modal-name">{{modalName}}</h2>
      <p><i>Para mas información no dude en contactarnos:</i></p>
      <form action="form/modal-form.php" method="post">

        <!--Modal Type and Modal Name-->
        <input type="hidden" value="" id="modal_type" name="modal_type">

        <div class="form-group">
          <label for="nombre">Nombre completo:</label>
          <input id="nombre" type="text" name="nombre" placeholder="Nombre y Apellido" required="" />
        </div>

        <div class="form-group">
          <label for="email">Correo Electrónico:</label>
          <input id="email" type="email" name="email" placeholder="ejemplo@correo.com" required="" />
        </div>

        <div class="form-group last-row">
          <label for="telefono">Teléfono:</label>
          <input id="telefono" type="text" name="telefono" placeholder="Teléfono" required="" />
        </div>

        <div class="form-group mensaje">
          <label for="mensaje">Mensaje:</label>
          <textarea id="mensaje" name="mensaje" placeholder="Mensaje" required=""></textarea>
        </div>

        <button id="submit" type="submit" name="submit" value="Enviar" class="btn bw hvr-sweep-to-right">Enviar</button>
      </form>
    </div>
  </div>

</div>