<div id="accordion" class="service-accordion">
  <h3 class="accordion-title" data-title="1">ATL<div class="ui-icon"></div></h3>
  <div class="accordion-body" data-accordion="1">
    <p>Above The Line”, o conocido en español como “por encima de la línea de promoción”, una frase que hace referencia a las actividades publicitarias y de marketing que no están dirigidas a un público objetivo en particular y tienen un gran alcance.</p>

    <p>En WR Marketing le asesoraremos para ejecutar la mejor estrategia en medios tradicionales o digitales bajo tres pilares fundamentales:</p>

    <p>Mejor alcance<br>
      Mejor conexión con la audiencia<br>
      Y facilidad para el brand building</p>
    <br>
    <br>
    <ul>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="atl">TV</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="atl">Radio</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="atl">Medios tradicionales escritos</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="atl">Diseño de assets de comunicación</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="atl">Campañas de posicionamiento</a></li>
    </ul>
  </div>
  <h3 class="accordion-title" data-title="2">Trade & BTL<div class="ui-icon"></div></h3>
  <div class="accordion-body" data-accordion="2">
    <ul>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="trade_btl">Activaciones</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="trade_btl">Estrategia de Expansión PDV</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="trade_btl">Estrategias de Winning PDV</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="trade_btl">Plan de Incentivos y de fidelidad</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="trade_btl">Custodia de producto icónico</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="trade_btl">Creación de experiencia de producto A, B y C</a>
      </li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="trade_btl">Auditoria del PDV</a></li>
    </ul>
  </div>
  <h3 class="accordion-title" data-title="3">POP y Display<div class="ui-icon"></div></h3>
  <div class="accordion-body" data-accordion="3">
    <p>El material POP ( Point of Purchase ) es una categoría del Marketing que recurre a la publicidad puesta en los
      puntos de
      venta, busca generar una permanencia de la marca recurriendo a una gran variedad de objetos donde se puede
      imprimir o
      estampar información de la empresa o producto</p>

    <p>Vamos desde la conceptualización, desarrollo, impresión y ejecución en el punto de venta.</p>

    <p>Como expertos en esta materia lograremos:</p>

    <p>Activar recursos gráficos, de publicidad o las exhibiciones utilizadas en el Punto de Venta para la promoción y
      difusión
      de una marca, categoría o producto con herramientas digitales, gráficas y exhibidores.</p>
    <ul>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="pop_display">Giveaway</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="pop_display">Promocionales</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="pop_display">Merchandising</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="pop_display">Litografía</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="pop_display">Exhibidores</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="pop_display">Stands</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="pop_display">Escenarios</a></li>
    </ul>
  </div>
  <h3 class="accordion-title" data-title="4">Social Media<div class="ui-icon"></div></h3>
  <div class="accordion-body" data-accordion="4">
    <ul>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="social_media">Comunidad Digital</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="social_media">Marketing de Contenidos</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="social_media">Desarrollo Digital</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="social_media">Social Analytics</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="social_media">Monitoreo de Marca</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="social_media">Creación de perfiles sociales</a></li>
    </ul>
  </div>
  <h3 class="accordion-title" data-title="5">MKT Campaign<div class="ui-icon"></div></h3>
  <div class="accordion-body" data-accordion="5">
    <ul>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="mkt_campaign">Campañas Internas</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="mkt_campaign">Comunicación Institucional</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="mkt_campaign">OOH</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="mkt_campaign">Diseño Plan de medios</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="mkt_campaign">Plan de desarrollo de producto</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="mkt_campaign">Estrategia de comunicación</a></li>
    </ul>
  </div>
  <h3 class="accordion-title" data-title="6">Retail<div class="ui-icon"></div></h3>
  <div class="accordion-body" data-accordion="6">
    <ul>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="retail">Layout</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="retail">Category Management</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="retail">Definición de Mix de Producto</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="retail">Preparación de List Price</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="retail">Shopping de precios</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="retail">Clasificación del PDV</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="retail">Benchmark 360°</a></li>
    </ul>
  </div>
  <h3 class="accordion-title" data-title="7">RRHH Outsorsing<div class="ui-icon"></div></h3>
  <div class="accordion-body" data-accordion="7">
    <ul>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="rrhh_outsorsing">Promotores</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="rrhh_outsorsing">Impulsadores</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="rrhh_outsorsing">Edecanes</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="rrhh_outsorsing">Anfitrionas</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="rrhh_outsorsing">Asesores</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="rrhh_outsorsing">Vendedores</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="rrhh_outsorsing">Assessment</a></li>
    </ul>
  </div>
  <h3 class="accordion-title" data-title="8">Gráfico, Digital & Video<div class="ui-icon"></div></h3>
  <div class="accordion-body" data-accordion="8">
    <ul>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="grafico_digital_video">Diseño Gráfico e Imagen corporativa</a>
      </li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="grafico_digital_video">Producción Audiovisual</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="grafico_digital_video">Producción Web y Almacenamiento</a>
      </li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="grafico_digital_video">Web Marketing</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="grafico_digital_video">Brand Book</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="grafico_digital_video">Packaging</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="grafico_digital_video">Presentaciones Multimedia</a></li>
    </ul>
  </div>
  <h3 class="accordion-title" data-title="9">Business Inteligence<div class="ui-icon"></div></h3>
  <div class="accordion-body" data-accordion="9">
    <ul>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="business_inteligence">Análisis de data OPSI</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="business_inteligence">Análisis de Sell Out</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="business_inteligence">Price Sensitivity</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="business_inteligence">Desempeño de portfolio</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="business_inteligence">Tracking de KPI</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="business_inteligence">Diseño de Dashboard</a></li>
      <li><a href="#" class="openServiceModal" (click)="triggerModal( $event )" data-toggle="modal" data-target="#serviceModal" data-type="business_inteligence">Diseño de KPI</a></li>
    </ul>
  </div>
</div>


<!-- The Modal -->
<div id="serviceModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <!-- Modal content -->
  <div class="modal-content modal-dialog" role="document">
    <div class="modal-extra">
      <span class="close" data-dismiss="modal">&times;</span>
      <div class="image-container">
        <div id="modalPhoto" class="modal-photo"></div>
      </div>
    </div>
    <div class="modal-body">
      <h4 class="type" id="modalTypeText"></h4>
      <h2 id="modalName" class="modal-name"></h2>
      <p id="modalDescription"></p>
      <p><i>Para mas información no dude en contactarnos:</i></p>
      <form action="form/modal-form.php" method="post">

        <input type="hidden" value="" id="modal_type" name="modal_type">

        <div class="form-group">
          <label for="nombre">Nombre completo:</label>
          <input id="nombre" type="text" name="nombre" placeholder="Nombre y Apellido" required="" />
        </div>

        <div class="form-group">
          <label for="email">Correo Electrónico:</label>
          <input id="email" type="email" name="email" placeholder="ejemplo@correo.com" required="" />
        </div>

        <div class="form-group last-row">
          <label for="telefono">Teléfono:</label>
          <input id="telefono" type="text" name="telefono" placeholder="Teléfono" required="" />
        </div>

        <div class="form-group mensaje">
          <label for="mensaje">Mensaje:</label>
          <textarea id="mensaje" name="mensaje" placeholder="Mensaje" required=""></textarea>
        </div>

        <button id="submit" type="submit" name="submit" value="Enviar" class="btn bw hvr-sweep-to-right">Enviar</button>
      </form>
    </div>
  </div>

</div>