<div class="small-hero" style="background-image: url('assets/images/trade.jpg');">
  <div class="container custom-container main-content">
    <h1>Quiénes Somos</h1>
  </div>
</div>

<!--Item-->
<div class="quienes-somos-content">
  <div class="row qs-item">
    <div class="col-xs-12 col-sm-6 col-md-5 text-col qs-cols">
      <div class="text-col-container">
        <div class="text-inner">
          <h2>Quienes Somos</h2>
          <p>WR Marketing es una Empresa dedicada al diseño, asesoría, venta de productos publicitarios como rótulos,
            afiches, acrílicos, muebles exhibidores, tazas para sublimar, tazas mágicas, vinil para impresión, papel para
            sublimar. Contamos con un alto grado de eficiencia, calidad, costos y satisfacción al cliente.</p>
  
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-7 image-col qs-cols">
      <div class="qs-photo" style="background-image: url('./assets/images/quienes-somos-photo.jpg')"></div>
    </div>
  </div>
  
  <!--Item-->
  <div class="row qs-item reverse">
    <div class="col-xs-12 col-sm-6 col-md-5 text-col qs-cols">
      <div class="text-col-container">
        <div class="text-inner">
          <h2>Misión</h2>
          <p>Somos una empresa 100% costarricense, especializada en atender las necesidades de mercadeo y promoción de su
            empresa.</p>
          <p>Constituída por un personal calificado con el objetivo de ofrecer soluciones integrales a las compañías.
            Contamos con un amplio conocimiento y experiencia en el área de mercadeo.</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-7 image-col qs-cols">
      <div class="qs-photo" style="background-image: url('./assets/images/mision-photo.jpg')"></div>
    </div>
  </div>
  
  <!--Item-->
  <div class="row qs-item">
    <div class="col-xs-12 col-sm-6 col-md-5 text-col qs-cols">
      <div class="text-col-container">
        <div class="text-inner">
          <h2>Visión</h2>
          <p>A través de nuestros servicios usted encontrará respuestas oportunas a sus necesidades, que van desde el
            diseño de la imagen de su empresa hasta la realización de sus mayores proyectos de comunicación, ya sea por
            medio de campañas publicitarias tradicionales o la implementación de estrategias de comunicación “online”. Una
            de las mayores virtudes y ventajas competitivas de WR Marketing, es la flexibilidad de nuestros servicios.
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-7 image-col qs-cols">
      <div class="qs-photo" style="background-image: url('./assets/images/vision-photo.jpg')"></div>
    </div>
  </div>
</div>
